@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
h1{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    color: blue;
    
}
#cont1{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    width: 100%;
    display: block;
}
nav{
    opacity: 0.5;
}
html{
    padding: 0px;
    display: block;
    margin: 0;
    border-collapse: collapse;
}
.mySlides {display:none;}
#btn{
    float:right;
    color: rgb(65, 50, 32);
}
#av{
    background-color: blue;
    color: burlywood;
    width: 30%;
    opacity: 0.5;
}
div#af{
    background-color: rgb(25, 25, 53);
    color: burlywood;
    width: 50%;
    text-align: center;
    opacity: 0.6;
    float: right;
}

#footer{
    background-color: rgb(25, 25, 53);
    color: burlywood;
    width: 100%;
    text-align: center;
    opacity: 0.6;
}
form#order{
    
    width: 60%;
   
   
}
button #bttn{
    position: relative;
    right: 50px;
    padding-top: 10px;
    margin-top:10px ;

}
fieldset{
    border-radius: 30%;
}
fieldset#yourOrder{
    background-color: rgb(25, 25, 53);
    color: burlywood;
    width: 80%;
    border-radius: 20px;
    
    opacity: 0.6
}
h3{
   text-align: center; 
}
button#bttnn{
    position: relative;
    right: 50px;
    right: 10px;
}
fieldset#payment{
    float: right;
    
    color: burlywood;
    bottom: 130px;
    border-radius: 20px;
}
